<div class= "favourites-container">
  <h1 class= "favourites-title">My Garage</h1>
  <% @favourites.each do |favourite| %>
    <%= render 'favourite_card',
      image_url: favourite.car.image_url,
      car: favourite.car,
      brand: favourite.car.brand,
      model: favourite.car.model,
      year: favourite.car.year,
      fuel: favourite.car.fuel,
      favourite: favourite
    %>
  <% end %>
</div>
