<div class= "banner-container">
  <%= render 'banner',
    title: "Welcome to Awesome Garage!",
    subtitle: "Browse cars and add your favourites to your personal Garage",
    image_url: "https://images.pexels.com/photos/164634/pexels-photo-164634.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  %>
</div>
