.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

.show-car-card {
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 700px;
  background-color: white;
}

.card-image {
  height: 350px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  .garage-element {
    padding: 10px 10px;
    text-align: right;
  }

  .parked-text {
    color: white;
  }
}

.show-card-text {
  padding-left: 30px;

  h4 {
    color: red;
    font-weight: bolder;
  }

  h5 {
    color: $gray;
    font-weight: bold;
  }
}

.review-form {
  padding: 15px 30px;
}

.car-reviews {
  padding: 0px 30px 0px 30px;

  .star-rating {
    color: gold;
    font-size: 22px;
    margin-left: 8px;
  }
}
