<div class= "container">
  <% @cars.each do |car| %>
    <%= render 'index_car_card', brand: car.brand, model: car.model, timestamp: car.created_at, image_url: car.image_url, car: car %>
  <% end %>
</div>
