<div class= "container">
  <%= render 'show_car_card',
    car: @car,
    brand: @car.brand,
    model: @car.model,
    year: @car.year,
    fuel: @car.fuel,
    image_url: @car.image_url,
    favourite: @favourite,
    reviews: @reviews,
    review: @review
  %>
</div>
