<div class: "container">
  <ul>
    <li><%= "Brand: #{@car.brand}" %></li>
    <li><%= "Model: #{@car.model}" %></li>
    <li><%= "Year: #{@car.year}" %></li>
    <li><%= "Fuel type: #{@car.fuel}" %></li>
  </ul>
</div>
